<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Not Found</title>
  <style>
    body { 
        background-color: rgba(66, 68, 90, 1);  
        color: white;
        display: block;
        justify-items: center; 
        align-content: center;
        height: 100vh;
    }
    a { 
        display: block; 
        margin-top: 20px; 
        padding: 20px; 
        background: rgb(14, 13, 13); 
        color: white; 
        text-decoration: none; 
        border-radius: 20px; 
    }
    a:hover { background: rgb(73, 71, 71); }
  </style>
</head>
<body>
  <h1>404 - Page Not Found</h1>
  <p>Sorry, the page you’re looking for does not exist.</p>
  <a  href="/">Return Home</a>
</body>
</html>