<html>
    <head>
        <title>example page</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>HomePage</h1>
        <h3><%= content %></h3>
    </body>
</html>