<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message page</title>
</head>
<body>
    <h1>i AM message board <%- message.id%></h1>
</body>
</html>