<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body style=" height: 100vh; display: block; align-content: center;">
    <div class="msg-view" style="align-self: center;">
        <header class="msg-title">
            <h1><div style="color: rgb(164, 165, 168); display: inline;">From</div> <%= message.username %></h1>
        </header>   
        <section class="msg-body">
            <h4>Message: </h4>
            <p style="background-color:rgb(14, 13, 13); padding: 20px; border-radius: 20px; max-width:400px;"><%= message.text %></p>
            <div style="font-size: 13px; color: rgb(164, 165, 168);"><%= message.created_at %></div>
        </section>
        <a href="/" class="return-btn">return home</a>
    </div>
</body>
</html>