body{
    display: grid;
    grid-template-rows: 1fr 4fr;
    color: white;
    background-color: rgba(66, 68, 90, 1);
    margin:0;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.msg-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 15);
    align-self: center;
    align-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 24px 0px rgb(17, 18, 22);
    align-items: center;
    min-width: 480px;
}
.title{
}
.msg-cntnt{
    width: 400px;
    white-space: nowarp;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul{
    padding: 0;
}
.msg-itm{
    display: grid;
    background-color: rgb(14, 13, 13);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    transform: scale(1);
    transition: .2s  ease-out;
}
.msg-itm:hover{
   background-color: rgb(73, 71, 71); 
   transform: scale(1.05);
   
}
button{
    z-index: 0;
    background-color: rgb(14, 13, 13);
    color: white;
    padding: 20px;
    font-size: 18px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    transform: scale(1);
    transition: .2s  ease-out;
}
button:hover{
    z-index: 1;
    transform: scale(1.1);
    background-color: rgb(73, 71, 71); 

}
#msg-add{
    background-color: rgb(14, 13, 13);
    color: white;
    padding: 20px;
    font-size: 18px;
    justify-content: center;
    border: none;
    border-radius: 10px;
}

#msg-dialog{
    outline: 1px solid rgb(14, 13, 13);
    color: white;
    padding: 20px 20px 0 20px;
    border: none;
    background-color: rgb(1, 1, 15);
    border-radius: 10px;
    box-shadow: 0px 0px 24px 0px rgb(58, 60, 68);
}
.form-dlg{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas:
    "user-name user-input"
    "msg-name msg-name"
    "msg-input msg-input"
    "btn exit"
    ;
    gap: 10px;
    text-align: center;
    width:600px;

}
.username-name{ 
    grid-area: user-name;
    align-self: center;
}
.username-input{grid-area: user-input;}

.message-name{ 
    grid-area: msg-name;
    align-self: end;
}
.message-input{grid-area: msg-input;}

.msg-btn{
    grid-area: btn;
    
}
.msg-close{
    grid-area: exit;
    
}
.msg-close:hover{
    background-color: tomato;
}

textarea{
    border-radius: 20px;
    background-color: rgb(1, 1, 15);
    border-bottom: 1px solid rgb(255, 255, 255);;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
}
input{
    border-radius: 20px;
    background-color: rgb(1, 1, 15);
    border-bottom: 1px solid rgb(255, 255, 255);;
    color: white;
    border: none;
    outline: none;
}
input:hover, input:focus{
    outline: none;
    background-color: rgb(14, 13, 13);
}
textarea:hover, textarea:focus{
    outline: none;
    background-color: rgb(14, 13, 13);
}
/* view message page*/
.msg-view{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: rgb(1, 1, 15);
    align-self: center;
    align-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 24px 0px rgb(17, 18, 22);
    align-items: center;
    min-width: 480px;
}
.msg-title{
    justify-self: center;
}
.return-btn{
    justify-self: center;
    text-decoration: none; 
    color: white;
    background-color: rgb(14, 13, 13);
    padding:20px;
    border-radius: 20px;

    z-index: 0;
    transform: scale(1);
    transition: .2s  ease-out;

}
.return-btn:hover{
    z-index: 1;
    transform: scale(1.1);
    background-color: rgb(73, 71, 71); 
}